<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 双向数据绑定</title>
</head>
<body>
    <div id="mvvm-app">
        <input type="text" v-model="word">
        <input type="text" v-model="word22">
        <p>{{word}}</p>
        <!-- <p>{{word22}}</p> -->
        <button  v-on:click="sayhi"> change model</button>
    </div>
</body>

</html>
<script src="js/observer.js"></script>
<script src="js/watcher.js"></script>
<script src="js/compile.js"></script>
<script src="js/mvvm.js"></script>
<script>
    var vm = new MVVM({
        el: '#mvvm-app',
        data: {
            word: 'Hello World!',
            word22: "hello shanghai",
            word3:"word3"
        },
        methods: {
            sayhi: function() {
                this.word = 'Hi, everybody!';
            }
        }
    })
    
</script>